.additional-products {
  .additional-products__title {
    font-family: @font;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: @main-color-black;
  }
  .additional-products__name-product {
    font-family: @font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .additional-products__item {

  }
  .additional-products__package {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @main-color-text;
  }
  .additional-products__price {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @main-color-text;
  }
  .additional-products__order-btn {
    font-size: 16px;
  }

}
