.contacts {
  background: @main-color-grey;
  .contacts__title {
    font-family: @font;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .contacts__address {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: @main-color-text;
    font-style: normal;
  }
  .contacts__map {

  }
}
