.how-it-works {
  .how-it-works__title {
    font-family: @font;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .how-it-works__list {
    .list-reset;
  }
  .how-it-works__item {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: @main-color-text;
  }
}
