.page-footer {
  background: @main-color-grey;
  .page-footer__wrapper {
    .wrapper;
    @media @tablet-widths {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .page-footer__logo {

  }
  .page-footer__social {

  }
}
