.page-footer {
  background: @main-color-grey;
  .page-footer__wrapper {
    .wrapper;
    @media @tablet-widths {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .page-footer__logo {
    padding: 36px 0 28px 0;
    display: flex;
    justify-content: center;
    @media @tablet-widths {
      padding: 0;
    }
  }
  .page-footer__social {

  }
}
