.program-select {
  .program-select__title {
    font-family: @font;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .program-select__description {
    font-family: @font;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .program-select__form-group {
    display: flex;
    flex-direction: column;

    &--underline {

    }
  }
  .program-select__label {
    font-family: @font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .program-select__input {

  }
  .program-select__form-legend {
    font-family: @font;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: @main-color-black;
    text-transform: uppercase;
  }
  .program-select__form-submit {
    font-size: 16px;
  }
  textarea {
    font-family: @font;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: @main-color-text;
    text-transform: uppercase;
  }

  p {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: @main-color-text;
  }
}
