.promo {
  .promo__title {
    font-family: @font;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: @main-color-white;
  }
  .promo__slogan {
    font-family: @font;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: @main-color-white;
  }
  .promo__img {

  }
  .promo__btn {

  }
}
