.social {
  .list-reset;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0 14px 0;
  @media @tablet-widths {
    border: none;
    padding: 0;
  }
  .social__item {
    line-height: 12px;
    width: 22px;
    &:not(:last-child) {
      margin-right: 35px;
    }
    &:nth-child(2) {
      margin-right: 36px;
    }
    @media @tablet-widths {
      line-height: 28px;
      height: 28px;
      width: 30px;
      &:not(:last-child) {
        margin-right: 26px;
      }
      &:nth-child(2) {
        margin-right: 21px;
      }
    }
  }
  .social__link {
    font-size: 0;
    fill: #666666;
    &:hover {
      fill: @main-color-green;
    }
    &:active {
      fill: @main-color-green;
      opacity: 0.3;
    }
  }
  .social__img {
    &--vkontakte {
      @media @tablet-widths {
        width: 30px;
        height: 16px;
      }
    }
    &--instagram {
      @media @tablet-widths {
        width: 23px;
        height: 23px;
      }
    }
    &--facebook {
      @media @tablet-widths {
        width: 14px;
        height: 28px;
      }
    }
  }
}
