.variants {
  .variants__wrapper {
    .wrapper;
    @media @desktop-widths {
      display: flex;
      justify-content: space-between;
      padding-top: 80px;
    }
  }
  .variants__item {
    background: @main-color-grey;
    padding: 30px 20px 20px 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
      @media @tablet-widths {
        margin-bottom: 30px;
      }
      @media @desktop-widths {
        margin-bottom: 0;
      }
    }
    @media @tablet-widths {
      padding: 74px 50px 60px 50px;
    }
    @media @desktop-widths {
      width: 570px;
      margin-bottom: 0;
      padding: 74px 50px 60px;
    }
  }
  .variants__title {
    font-family: @font;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: @main-color-black;
    text-transform: uppercase;
    margin-top: 0;
    padding-left: 70px;
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: @main-color-green;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
    &--slim {
      &::after {
        width: 50px;
        height: 50px;
        left: 10px;
        background: url('../img/cat-slim.svg') no-repeat;
      }
    }
    &--pro {
      &::after {
        width: 67px;
        height: 31px;
        left: -6px;
        background: url('../img/cat-pro.svg') no-repeat;
      }
    }
    @media @tablet-widths {
      margin: 0;
      font-size: 36px;
      line-height: 37px;
      padding-left: 0;
      &::before {
        transform: none;
        left: auto;
        top: 17px;
        right: 12px;
        width: 200px;
        height: 200px;
      }
      &::after {
        transform: none;
        left: auto;
      }
      &--slim {
        &::after {
          width: 140px;
          height: 194px;
          right: 42px;
          top: 4px;
        }
      }
      &--pro {
        &::after {
          width: 268px;
          height: 112px;
          top: 61px;
          right: -22px;
        }
      }
    }
    @media @desktop-widths {
      padding-left: 160px;
      &::before {
        width: 100px;
        height: 100px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        background-repeat: no-repeat;
      }
      &--slim {
        &::after {
          width: 70px;
          height: 97px;
          left: 17px;
          top: -35px;
        }
      }
      &--pro {
        &::after {
          width: 134px;
          height: 56px;
          left: -17px;
          top: -8px;
        }
      }
    }
  }
  .variants__btn-catalog {
    font-family: @font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: @main-color-black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -36px;
      transform: translateY(-50%);
      width: 24px;
      height: 11px;
      background: url('../img/icon-right-arrow-long.svg') no-repeat center;
      @media @tablet-widths {
        right: -50px;
      }
    }
    &:hover {
      &::after {
        right: -44px;
        width: 33px;
        height: 11px;
        background: url('../img/icon-right-arrow-verylong.svg') no-repeat center;
        @media @tablet-widths {
          right: -58px;
        }
      }
    }
    &:active {
      opacity: 0.3;
      &::after {
        right: -44px;
        width: 33px;
        height: 11px;
        background: url('../img/icon-right-arrow-verylong.svg') no-repeat center;
        @media @tablet-widths {
          right: -58px;
        }
      }
    }
    @media @tablet-widths {
      font-size: 20px;
      line-height: 20px;
    }
    @media @desktop-widths {
      border: none;
    }
  }
  .variants__text {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: @main-color-text;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    @media @tablet-widths {
      font-size: 16px;
      line-height: 24px;
      width: 374px;
      margin-top: 25px;
      margin-bottom: 36px;
    }
    @media @desktop-widths {
      margin-top: 76px;
      margin-bottom: 32px;
      width: auto;
      border: none;
      padding-bottom: 0;
    }
  }
}
